#titulo {
    color: red;
}
p.texto {
    color: aqua;
}
p.nada {
    color: slateblue;
}
div p {
    color: blue;
}
div h2, div h3 {
    color: rosybrown;
}
* {
    font-size: 40px;
}
/* este es un comentario */
.borde {
    border-style:dotted;
    border-radius: 5px;
    border-color: aqua;
}
#fondo {
    background-color: chartreuse;
}